
::selection {
	background: ;
	color: ;
}
::-moz-selection {
	background: ;
	color: ;
}



// PlaceHolders

::-webkit-input-placeholder {
	font-family: ;
	direction: rtl;
}

:-moz-placeholder {
	font-family: ;
  	direction: rtl;
}

::-moz-placeholder {
  	font-family: ;
  	direction: rtl;
}

:-ms-input-placeholder {
  	font-family: ;
  	direction: rtl;
}




// Forms & Inputs






// Images




// Lists

ul {
	margin: 0;

	li {

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.flat {
		display: table;
		list-style-type: none;

		li {
			float: right;
		}
	}

	&.bul {
		list-style-type: disc;
	}

	&.nobul {
		list-style-type: none;
	}
}




// Transitions

a {
	transition: all 0.4s;
}




// Paragraphs

p {
}




// Icons

.icon {
	position: relative;
}




// Types & Texts $ Titles

.bold {
	font-weight: bold;
}

.line-through {
	text-decoration: line-through;
}

hr {
	&.tiny {
		width: 5rem;
		margin: 0 auto;
	}
}




// Showable / Hidable

.hide {
	display: none !important;
}

.hide-visibility {
	visibility: hidden !important;
}

.hide-text {
	text-indent: -9999px;
	overflow: hidden;
}

.show-block {
	display: block !important;
}

.show-inline-block {
	display: inline-block;
}

.overflow-visible {
	overflow: visible !important;
}


// Headings Opts

h1, h2, h3, h4, h5, h6 {
	cursor: default;
	font-weight: bold;
	@include _transition(all .4s);

	a & {
		cursor: pointer !important;
	}
}




// Blurred

.blurred {
	@include blurred(10px);
}




// CURSOR OPTIONS
