// Alignments & Floats

.right {
	float: right;
}

.left {
	float: left;
}

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}




// Clearfix

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
